<!DOCTYPE html>
<html>
<head>
  <title><%= yield (:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
 <div id="header">
 	<%= link_to 'Where Are You Going Q&A', root_path %>
 </div><!--end header -->	

 <div id="nav">
 	<ul>
 	   <li>
 	   	<%= link_to 'Home', root_path %>	
 	   </li>

 	</ul>
 </div><!--nav end-->

  <div id="content">
  <% flash.each do |key, value| %>
  	<p id="message"><%= value %></p>
  <% end %>	
  <%= yield %>
  </div><!--content end-->

  <div id="footer">
  	&copy; Where Are You Going Q&A <%= Date.today.year %>
  </div><!--footer end-->
</div><!--container end-->

</body>
</html>
